<!-- <p>statistics works!</p>

 <button type="button" class="btn btn-primary" (click)="show()">Primary</button>


 <div *ngIf="dataExist()" >
<input type='text' [value]='dataInternal?.feeds[0].created_at'>
</div> -->
<div class="container">
    <div class="row">
        <h1>ClearSky</h1>
    </div>
        <div class="row">
                <div class="col-sm">
                    <h2>
                    Last update: <br>
                    {{ lastUpdateStr }}
                    </h2>
                </div>
                <div class="col-sm">
                    <h2>
                        AQI PM<sub>10</sub>: <br>
                        {{ AqiPM10 }} {{ AqiPM10Str}}
                    </h2>
                </div>
                <div class="col-sm">
                    <h2>
                        AQI PM<sub>25</sub>: <br>
                        {{ AqiPM25 }} {{ AqiPM25Str }}
                    </h2>
                </div>
        </div>
        <app-chart></app-chart>
  </div>
